@import "../../../../styles.scss";

.create-campaign-form {
    max-width: 804px;
    left: 404px;
    top: 205px;

    background: white;
    border-radius: 16px;
    padding: 45px;
}

.campaign-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px -4px rgba(0,0,0,0.62);
    width: 90px;

    img{
        width: 25px;
    }
}

.suffix-text {
    font-size: 12px;
    color: $tertiary-color;
}