@import "mixin";
@import "veriables";

.campaigns-page {

    .campaign-card {
        max-width: 460px;
        min-height: 255px;
        background: white;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        @include dFlex($justify: space-around , $direction: column);

        .header {
            @include dFlex($align: flex-start, $justify: space-between);
            height: 75px;
            margin-bottom: 10px;

            .header-content {
                @include dFlex($align: center);

                img {
                    max-height: 55px;
                    width: auto;
                }

                .title {
                    color: black;
                    padding: 0 0.8vw;
                    word-break: break-all;
                }
            }

            .menu-button {
                height: 25px;
                width: 15px;
                background: transparent;
                border: none;

            }
        }

        .body {
            margin-bottom: 12px;
            @include txtMaxLine($maxLine: 3, $height: 50px);

            p {
                color: $tertiary-color;
                font-size: 0.87rem;
            }
        }

        .footer {

            .campaign-score {
                @include dFlex($align: center, $justify: space-between);

                .score-buttons {
                    width: 126px;
                    height: 36px;
                    background: #F1F1F1;
                    border-radius: 42px;
                    padding: 2px 4px;
                    @include dFlex($align: center, $justify: space-between);
                }
            }
            .campaign-score-title {
                color: $secondary-color;
                padding-bottom: 6px;
                font-size: 0.87rem;
            }

            .expire-date {
                width: 116px;
                height: 36px;
                background: $success-opacity;
                border-radius: 42px;
                @include dFlex($align: center, $justify: center);

                p {
                    color: $success-color;
                    font-size: 0.75rem;
                }
            }
        }


    }
}


@media screen and (max-width: 992px) {
    .campaign-card{
        max-width: unset !important;
    }
}