<div class="campaigns-page">
    <h1 class="page-title pb-4">Kampanya Listeleme</h1>
    
    <div class="row w-100">
        <div class="col-md-6 col-xxl-4" *ngFor="let campaign of campaignList$ | async; let i = index">
            <div class="campaign-card">

                <header class="header">
                    <div class="header-content">
                        <img [src]="'assets/icons/' + campaign.type.icon " alt="">
                        <h3 class="title">{{campaign.title}}</h3>
                    </div>
                    <button class="menu-button" [matMenuTriggerFor]="menu">
                        <img style="height: 20px;" src="assets/icons/three_dot.png" alt="">
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editCampaign(campaign , i)">
                            <img style="height: 20px;" src="assets/icons/edit.png" alt="">
                            Güncelle
                        </button>
                        <button mat-menu-item (click)="deleteCampaign(i)">
                            <img style="height: 20px;" src="assets/icons/delete.png" alt="">
                            Sil
                        </button>
                    </mat-menu>
                </header>

                <body class="body">
                    <p>{{campaign.description}}</p>
                </body>

                <footer class="footer">
                    <p class="campaign-score-title">Kampanya Puanı</p>
                    <div class="campaign-score">
                        <div class="score-buttons">
                            <div [ngClass]="{'disable' : campaign.score === 0}" (click)="updateCampaignScore('decrement' ,campaign , i)"> 
                                <img src="assets/icons/minus.png" alt=""></div>
                            <div>{{campaign.score}}</div>
                            <div (click)="updateCampaignScore('increment' , campaign , i)">
                                 <img src="assets/icons/plus.png" alt=""></div>
                        </div>
                        <div class="expire-date">
                            <p> {{campaign.expireDate | date: 'dd/MM/yyyy'}}</p>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
    </div>

</div>