@import "../../../../styles.scss";


.body {
    margin: auto;
    max-width: 520px;
    height: 100%;

    .header {
        margin-bottom: 40px;

        img {
            margin: 0 10px 5px 0;
            width: 30px;
            height: 30px;
        }
    }

    .title-input {
        text-align: left;
        margin-bottom: 20px;
    }

    .description-input {
        text-align: left;
        margin-bottom: 40px;
    }

}