@import "mixin";

.body {
    max-width: 430px;
    margin: auto;
    margin-top: 15px;
    @include dFlex($align: center, $justify: center, $direction: column);

    img {
        margin-bottom: 13px;
        width: 86px;
    }

    h1 {
        text-align: center;
    }

    .message {
        margin-bottom: 40px;
    }

    .primary-large-btn {
        margin-bottom: 19px;
    }
}