@import "veriables.scss";

button {
    font-family: 'euclid', 'arial', sans-serif;
}

.primary-large-btn {
    width: 100%;
    background: $primary-color;
    border-radius: 8px;
    height: 58px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: white;
}

.secondary-large-btn {
    width: 100%;
    border-radius: 8px;
    height: 58px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $primary-color;
    background: #FFFFFF;
    border: 1px solid $primary-color;
}