

button {
    font-family: 'euclid', 'arial', sans-serif;
}

.primary-large-btn {
    width: 100%;
    background: $primary-color;
    border-radius: 8px;
    height: 58px;
    color: white;
}

.outline-large-btn {
    width: 100%;
    border-radius: 8px;
    height: 58px;
    color: $primary-color;
    background: white;
    border: 1px solid $primary-color;
}

.disable{
    pointer-events: none;
    opacity: 0.4;
}

button{
    @include defaultFont($fontSize: 16px);
}