@import "mixin";

@mixin textFieldWrapper($borderColor) {
    .mdc-notched-outline__leading {
        border-color: $borderColor  !important;
        border-radius: 8px 0px 0px 8px !important;
    }

    .mdc-notched-outline__trailing {
        border-color: $borderColor  !important;
        border-radius: 0px 8px 8px 0px !important;
    }

    .mdc-notched-outline__notch {
        border-color: $borderColor  !important;
    }

}


.mat-mdc-form-field {
    width: 100%;

    .mat-mdc-text-field-wrapper {
        background-color: $input-background;
        border-radius: 8px;
    }

    .mat-mdc-form-field-flex{
        padding: 0 8px;
    }
    
    // input border is focused
    .mdc-text-field--focused:not(.mdc-text-field--invalid) {
        @include textFieldWrapper($borderColor: $primary-color);
    }
    
    .mat-mdc-text-field-wrapper:not(.mdc-text-field--focused, .mdc-text-field--invalid) {
        @include textFieldWrapper($borderColor: transparent);
    }
    
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
        @include defaultFont($fontSize: 0.8rem);
    }

    textarea {
        resize: none;
        padding: 4px 0 14px 0;
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none !important;
    }

}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $input-background inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
}


::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    color: $tertiary-color  !important;
}