.modal-smc {
    width: 652px;
    height: 570px;
    border-radius: 16px !important;
    background: #FFFFFF;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 16px !important;

}