@import "mixin";

.modal-smc {
    width: 650px;
    min-height: 400px;

    .close-icon {
        @include dFlex($justify: flex-end);

        img {
            cursor: pointer;
        }
    }
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    text-align: center;
    padding: 30px;
    border-radius: 16px !important;
}