
@font-face {
    font-family: euclid;
    src: url(../../../assets/fonts/Euclid_Regular.ttf) format("opentype");
}

@font-face {
    font-family: euclidSemiBold;
    src: url(../../../assets/fonts/Euclid_SemiBold.ttf) format("opentype");
}

@font-face {
    font-family: euclidMedium;
    src: url(../../../assets/fonts/Euclid_Medium.ttf) format("opentype");
}


h1{
    font-size: 2rem;
    line-height: 41px;
    font-family: 'euclidSemiBold', 'euclid', sans-serif;
}

h2 {
    font-size: 1rem;
    line-height: 163.8%;
    font-family: 'euclidSemiBold', 'euclid', sans-serif;
}

h3 {
    font-family: 'euclidMedium', 'euclid', sans-serif;
    font-size: 1.25rem;
    line-height: 163.8%;
}

h4 {
    font-family: 'euclid', 'arial', sans-serif;
    font-size: 1.25rem;
    line-height: 163.8%;
}

p { 
    margin: 0;
    font-size: 1rem;
    line-height: 20px;
}

mat-label{
    font-size: 0.87rem;
    line-height: 18px;
}