/* You can add global styles to this file, and also import other style files */

@import "input_theme.scss";
@import "buttons.scss";
@import "modals.scss";
@import "text_theme.scss";
@import "veriables.scss";

::ng-deep * {
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body {  font-family: Roboto, "Helvetica Neue", sans-serif; }
