<mat-toolbar class="d-flex justify-content-between">
  <div class="left">
    <button class="toggle-btn" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened" fontIcon="menu"></mat-icon>
      <mat-icon *ngIf="sidenav.opened" fontIcon="close"></mat-icon>
    </button>
    <img src="assets/images/icon_sm.png" alt="">
  </div>
  <button class="text-button signout" (click)="signOut()">
    <img src="assets/icons/sign_out.png" alt="">
    <p> Çıkış Yap </p>
  </button>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav" mode="side" opened>
    <div *ngFor="let item of menuItems">
      <div [ngClass]="{'active': isActiveRoute(item.path)}" class="link" (click)="routeToChild(item.path);">
        <img [src]="isActiveRoute(item.path) ? 'assets/icons/' + item.activeIcon :  'assets/icons/' + item.icon "
          alt="">
        <p>{{item.label}}</p>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <div class="header">
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>


</mat-sidenav-container>